<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Inicio del Usuario</title>
    <link rel="stylesheet" href="/static/css/home_styles.css">
</head>
<body>
<header>
        <p class="welcome">Bienvenido, {{ session['username'] }} | <a href="/logout">Cerrar sesión</a></p>

    <h1>Bienvenido al Sistema de Reclamos</h1>
</header>
 <main>
    <p>¿Qué desea hacer?</p>
    
    <ul>
        <li><a href="/status">Consultar estado de reclamos</a></li>
    </ul>

    <h2>Registrar Reclamo</h2>
    <form action="/submit" method="post">
        <label>Nombre:</label><br>
        <input type="text" name="name" required><br><br>

        <label>Correo electrónico:</label><br>
        <input type="email" name="email" required><br><br>

        <label>Tipo de servicio:</label><br>
        <select name="service" required>
            <option value="agua">Agua</option>
            <option value="luz">Luz</option>
            <option value="internet">Internet</option>
            <option value="alcantarillado">Alcantarillado</option>
        </select><br><br>

        <label>Descripción:</label><br>
        <textarea name="description" rows="4" required></textarea><br><br>

        <button type="submit">Enviar Reclamo</button>
    </form>
 </main>
</body>
</html>
